/*Not much to say in here - keep things centered, set up borders for the stacks*/

#pause{
  visibility: collapse;
}
#play{
  visibility: collapse;
}

h1{
  padding-top: 2.5%;
  text-align: center;
}

#input_form{
  padding-top: 2.5%;
  margin: 0 auto;
  text-align: center;
}

#simulation{
  text-align: center;
}

.stack{
  border-width: thin;
  border-style: solid;
  padding-bottom: 5%;
}

#moves{
  height: 300px;
  overflow: scroll;
}
